html,
body {
  width: 100%;

  height: 100%;

  margin: 0;
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
}

.canvas-container {
  min-height: 100%;
  min-width: 100%;
  position: relative;
}

.canvas {
  position: absolute;
  border: 1px solid black;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 30px;
  column-gap: 1em;
  row-gap: 3em;
  padding: 20px 10px;
}

.buttons-up {
  border: 1px solid black;
  
}

.buttons-middle {
  border: 1px solid black;
}

.buttons-down {
  border: 1px solid black;
}

.button {
  width: 70px;
  text-align: center;
  position: relative;
}

.button i{
  cursor: pointer;
}

.button img{
  width: 35px;
  height: 32px;
  cursor: pointer;
}

#brush-size {
  max-width: 90%;
}

#text-size {
  max-width: 90%;
}

.buttons-middle p{
  font-size: 0.8em;
}

 
.taskname{
  opacity: 1;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  display: none;
  transition: display 4s;
  font-weight: bold;
} 

.animate__animated.animate__fadeIn {
  --animate-duration: 1s;
}

.transparent{
  opacity: 0.5;
}